@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");
/*========== Font and typography ==========*/
:root {
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 3rem;
  --h1-font-height: 4rem;
  --h2-font-size: 2.875rem;
  --h2-font-height: 3.375rem;
  --h4-font-size: 1.25rem;
  --h6-font-size: 0.75rem;
  --h6-font-weight: 700;
  --p-font-size: 1rem;
  --p-color: hsl(154, 13%, 32%);
  --heading-color: hsl(0, 0%, 13%);
}

/*=============== Base ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-font-height);
  color: var(--heading-color);
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-font-height);
  color: var(--heading-color);
}

h4 {
  font-size: var(--h4-font-size);
  color: var(--heading-color);
}

h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-weight);
}

p {
  font-size: var(--p-font-size);
  color: var(--p-color);
  margin: 0.938rem 0 1.25rem 0;
}

.section-p1 {
  padding: 2.5rem 5rem;
}

body {
  width: 100%;
}

/*=============== Navbar & Header ===============*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 5rem;
  background: #e3e6f3;
  box-shadow: 0 0.313rem 0.938 rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.header a img {
  max-height: 75px;
  width: auto;
  object-fit: cover;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list li {
  list-style: none;
  padding: 0 1.25rem;
  position: relative;
}

.nav__list li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.nav__list li a:hover,
.nav__list li a.nav__home {
  color: #088178;
}

.nav__list li a.nav__home::after,
.nav__list li a:hover::after {
  content: "";
  width: 30%;
  height: 0.125rem;
  background-color: #088178;
  position: absolute;
  bottom: -0.25rem;
  left: 1.25rem;
}

/*=============== Home Section ===============*/
.home__section {
  background-image: url("../img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home__section h4 {
  padding-bottom: 0.938rem;
}

.home__section h1 {
  color: #088178;
}

.home__section button {
  background-image: url(../img/button.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 0.875rem 5rem 0.875rem 4.063rem;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.938rem;
}

.home__section p {
  font-weight: 200;
  color: black;
}

/*=============== Features Section ===============*/
#section__features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#section__features .flx__box {
  width: 11.25rem;
  text-align: center;
  padding: 1.563rem 0.938rem;
  box-shadow: 1.25rem 1.25rem 2.125rem rgba(0, 0, 0, 0.03);
  border: 0.063rem solid #cce7d0;
  border-radius: 0.25rem;
  margin: 0.938rem 0;
}

#section__features .flx__box:hover {
  box-shadow: 0.625rem 0.625rem 3.375rem rgba(70, 62, 221, 0.1);
}

#section__features .flx__box img {
  width: 100%;
  margin-bottom: 0.625rem;
}

#section__features .flx__box h6 {
  display: inline-block;
  padding: 0.563rem 0.5rem 0.375rem 0.5rem;
  line-height: 1;
  border-radius: 0.25rem;
  color: #088178;
  background-color: #fddde4;
}

#section__features .flx__box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#section__features .flx__box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#section__features .flx__box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#section__features .flx__box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#section__features .flx__box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/*=============== Product Section ===============*/
#features__product {
  text-align: center;
}

#features__product .prod {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

#features__product .prod:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#features__product .prod img {
  width: 100%;
  border-radius: 20px;
}

#features__product .prod .desc_prod {
  padding: 10px 0;
}

#features__product .prod .desc_prod span {
  font-size: 12px;
  color: #606063;
}

#features__product .prod .desc_prod h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 20px;
}

#features__product .prod .desc_prod i {
  font-size: 20px;
  color: rgb(255, 183, 0);
}

#features__product .prod .desc_prod h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#features__product .prod .shop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;s  
}
