@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:wght@500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*========== Font and typography ==========*/
:root {
  --body-font: "Spartan", sans-serif;
  --h1-font-size: 3rem;
  --h1-font-height: 4rem;
  --h2-font-size: 2.875rem;
  --h2-font-height: 3.375rem;
  --h4-font-size: 1.25rem;
  --h6-font-size: 0.75rem;
  --h6-font-weight: 700;
  --p-font-size: 1rem;
  --p-color: hsl(154, 13%, 32%);
  --heading-color: hsl(0, 0%, 13%);
}

/*=============== Base ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-font-height);
  color: var(--heading-color);
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-font-height);
  color: var(--heading-color);
}

h4 {
  font-size: var(--h4-font-size);
  color: var(--heading-color);
}

h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-weight);
}

p {
  font-size: var(--p-font-size);
  color: var(--p-color);
  margin: 0.938rem 0 1.25rem 0;
}

.section-p1 {
  padding: 2.5rem 5rem;
}

body {
  width: 100%;
}

/* Header Start */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 5rem;
  background: #e3e6f3;
  box-shadow: 0 0.313rem 0.938 rgba(0, 0, 0, 0.06);
}

.header a img {
  max-height: 50px;
  width: auto;
  object-fit: cover;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list li {
  list-style: none;
  padding: 0 1.25rem;
  position: relative;
}

.nav__list li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.nav__list li a:hover,
.nav__list li a.nav__home {
  color: #088178;
}

.nav__list li a.nav__home::after,
.nav__list li a:hover::after {
  content: "";
  width: 30%;
  height: 0.125rem;
  background-color: #088178;
  position: absolute;
  bottom: -0.25rem;
  left: 1.25rem;
}
